
	<div class="col-12" >
        <div class="col-12">
            
              
            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <div class="field mt-3">
                        <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/session']">
                            <div class="col-7"class="card">
                                 <h5>Sessions Caisse</h5>
                        <div  class="flex justify-content-center">
                            <p-image src="assets/demo/images/galleria/caisse2.png" alt="Image" width="200"></p-image>
                        </div>
                    </div>
                        </p-button>
                    </div>
                </div>
                
                <div class="col-12 md:col-6">
                    <div class="field mt-3">
                        <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/historiquePaiement']">
                            <div class="col-7"class="card">
                                 <h5>Historique des <br> paiements</h5>
                        <div  class="flex justify-content-center">
                            <p-image src="assets/demo/images/galleria/historique2.jpg" alt="Image" width="200"></p-image>
                        </div>
                    </div>
                        </p-button>
                    </div>
                </div>
                
               
            </div>
      
    </div>

        <div class="grid formgrid">
           
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <div class="field mt-3">
                    <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/annulerPaiement']">
                        <div class="col-7"class="card">
                             <h5>Annuler Paiement</h5>
                    <div  class="flex justify-content-center">
                        <p-image src="assets/demo/images/galleria/annuler4.jpg" alt="Image" width="200"></p-image>
                    </div>
                </div>
                    </p-button>
                </div>
            </div>

            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <div class="field mt-3">
                    <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/ChercherFacture']">
                        <div class="col-7"class="card">
                             <h5>Paiement</h5>
                    <div  class="flex justify-content-center">
                        <p-image src="assets/demo/images/galleria/paiement6.png" alt="Image" width="200"></p-image>
                    </div>
                </div>
                    </p-button>
                </div>
            </div>


            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <div class="field mt-3">
                    <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/saisirAvance']">
                        <div class="col-7"class="card">
                             <h5>Saisir avance</h5>
                    <div  class="flex justify-content-center">
                        <p-image src="assets/demo/images/galleria/saisir2.png" alt="Image" width="200"></p-image>
                    </div>
                </div>
                    </p-button>
                </div>
            </div>
        </div>


      


        
              
 

</div>